<div class="clearfix">
    <div class="card">
      <div class="color-container">
        <div class="clearfix">
        <h4 class="text-center">
          <i class="fas fa-paint-brush"></i>
          <br />
          Choose your Color
        </h4>
        <div class="color-scheme text-center">
          <ul class="ul-color">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="clearfix mtb-30 text-center">
          <div class="template-view">
            <img src="./../../../../assets/images/invoice/invoice-1.png" /> 
          </div>
      </div>
        <div class="clearfix">
          <div class="color-template">
            <button class="btn btn-lg btn-success btn-big">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>