
h5 {
  font-size: 11px;
  line-height: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
  line-height: 22px;
  margin: 0px !important;
}
p {
  font-size: 12px !important;
}

.w-100 {
  width: 90%;
  margin: 0 auto;
}
.no-padding {
  padding: 0px;
}
.mt-15 {
  margin-top: 15px;
}
.content-table
{
  background-image: url('https://en.pimg.jp/018/623/933/1/18623933.jpg')
}



