
<div class="row"> 
      
    <div class="col-md-9 col-sm-9 col-xs-12 bdr-left-right">
        <div class="clearfix mtb-30">
            <div class="card" style="padding-top: 6%;">
                <h4 class="text-center">
                    <i class="fas fa-columns"></i>
                    <br />
                    Choose your Template
                  </h4>
                  <div class="clearfix mtb-30">
              <!-- <div class="owl-carousel owl-theme owl-invoice"> -->
                <!-- <div class="item col-sm-4">
                  <div class="item-inner">
                    <a [routerLink] = "['/signup/color/1',1]" href="#/signup/color/1"><img src="invoice.png" class="img-responsive" /></a> 
                  </div>
                </div> -->
               
                  <div class="item col-sm-4">
                    <div class="item-inner">
                      <a routerLink = "/signup/color/1"><img src="http://mylr.in/assets/images/template1.png" class="img-responsive" /></a> 
                    </div>
                  </div>
                  <div class="item col-sm-4">
                      <div class="item-inner">
                        <a routerLink = "/signup/color/2"><img src="http://mylr.in/assets/images/template2.png" class="img-responsive" /></a> 
                      </div>
                    </div>
                    <div class="item col-sm-4">
                      <div class="item-inner">
                        <a routerLink = "/signup/color/3"><img src="http://mylr.in/assets/images/template3.png" class="img-responsive" /></a> 
                      </div>
                    </div>
                 <!-- <div class="item col-sm-4">
                    <div class="item-inner">
                      <a routerLink = "/signup/color/4"><img src="create-lr-img.png" class="img-responsive" /></a> 
                    </div>
                  </div>
                  <div class="item col-sm-4">
                    <div class="item-inner">
                      <a routerLink = "/signup/color/5"><img src="template5.png" class="img-responsive" /></a> 
                    </div>
                  </div>
                  <div class="item col-sm-4">
                      <div class="item-inner">
                        <a routerLink = "/signup/color/6"><img src="template6.png" class="img-responsive" /></a> 
                      </div>
                    </div> -->
                 </div>
            </div>
          </div>            
    </div>
    <div class="col-md-3 right_sidebar bdr-left">
        <app-right-sidebar></app-right-sidebar>
    </div>
</div>
