<div class="ul-sidebar">
  <ul>
    <!-- class="active" -->
  <li ><a  routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
  <!-- <li><a  routerLink="/profile" routerLinkActive="active">Profile</a></li> -->
  <li><a  routerLink="/comingsoon" routerLinkActive="active">Branches</a></li>
  <li><a  routerLink="/lr/create" routerLinkActive="active">Create Lr</a></li>
  <li><a  routerLink="/lr/list" routerLinkActive="active">LR List</a></li>
  <li><a  routerLinkActive="active" routerLink="/loading-challan/list">Loading Challan</a></li>
  <li><a  routerLink="/freight-challan/list" routerLinkActive="active">Freight Challan</a></li>
  <li><a  routerLinkActive="active" routerLink="/comingsoon0">Create Voucher</a></li>
  <li><a  routerLinkActive="active" routerLink="/comingsoon1">Create Invoice  </a></li>
  <li><a  routerLinkActive="active" routerLink="/comingsoon2">Tracker</a></li>
  <li><a  routerLinkActive="active" routerLink="/comingsoon3">Reports</a></li>
  <li><a  routerLinkActive="active" routerLink="/comingsoon4">POD Management</a></li>
  <li><a  routerLinkActive="active" routerLink="/comingsoon5">Finance</a></li>





    <!-- 

  <li><a  routerLinkActive="active" routerLink="/invoice/list">Invoice</a></li>
  <li><a  routerLinkActive="active" routerLink="/voucher/list">Search Voucher</a></li> -->
 
  <!-- <li><a  routerLinkActive="active"  routerLink="/lr/create/{{transporter_detail.template_id}}">Step Wizard</a></li> -->
</ul>
</div>