<div class="row  pt-50"> 
 <!-- <div class="col-md-2 col-sm-2 col-xs-12 bdr-right" style="padding-right: 0px;">
        <app-left-sidebar></app-left-sidebar>
</div> -->
        
<div class="col-md-9 col-sm-9 col-xs-12 bdr-right">
                <section class="">
                                <div class="row">
                                <div class="col-md-12 pd-top-30">
                                <div class="our_about_left_content pd-left-6">
                                <h3 class="single_title" style="padding: 16px 0;">About Us</h3>
                                <p style="font-size: 14px !important;line-height: 24px;">
                                    Started in May 2018, MyLrl.in is an Indore based start-up; the founders and team have put 8+ of experience to introduce you with only one of its kind system in transport industry for making online LR, Challans, voucher, Invoice, finance, POD management and online transporter search engine. </p>
                                    <p style="font-size: 14px !important;line-height: 24px;    padding-top: 5px;">The beauty of MyLr is, it’s the only platform where you can create all document complies in your transport business along with accounting and reports. 
                                
                                </div>
                                </div>
                                </div>
                                </section>

                        
                                <section class="our_about_middle">
                                <div class="row">
                                <div class="col-md-4 pd-adj" style="padding-right: 0px;">
                                <div class="left-con">
                                <h2 style="line-height:0.9em;color:#ff9196; letter-spacing:0.15em;font-size:45px;font-weight: 600;padding: 14px 0px;text-align: center;">
                                <span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;">MISSION</span></h2>
                                <p style="line-height:1.7em;text-shadow:#8b8585 0px 0px 6px;color:#8B0000;font-style:normal;font-weight: 400;font-size: 15px;padding: 14px 16px;">
                                <span style="font-family:clarendon-w01-medium-692107,clarendon-w02-medium-693834,serif; font-size:20px;">To digitize the transporters activities of doing business, by providing this simple platform so that each element (GTA, parcel booking service, transport broker or fleet owner) of the industry can be a part of future digitalized transport industry.
                                </span></p>
                                </div>
                                </div>
                                <div class="col-md-8 pd-adj" style="padding-left: 0px;">
                                <div class="parallax">
                                <!-- <img src="assets/images/about-image3.webp" class="img-responsive"> -->
                                </div>
                                </div>
                                </div>
                                </section>
                                                
                                            
                                <section class="our_about_bottom">
                                <div class="row">
                                <div class="col-md-4 pd-adj" style="padding-right: 0px;">
                                <div class="parallax1">
                                <!-- <img src="assets/images/about-image2.webp" class="img-responsive"> -->
                                </div>
                                </div>
                                <div class="col-md-8 pd-adj" style="padding-left: 0px;">
                                <div class="right-bg-con">
                                <div class="right-con">
                                <div class="main-con">
                                <h2 style="font-size:52px; line-height:1.1em;padding:6px 0px;"><span style="color:#FFFFFF;font-size:52px;font-family:lulo-clean-w01-one-bold,sans-serif;letter-spacing:-0.05em;">VISION</span>
                                </h2></div> 
                                <p style="font-size: 14px;line-height: 1.6em;padding: 24px 24px;">
                                <span style="color:#FFFFFF;font-size:12x;font-family:avenir-lt-w01_35-light1475496,sans-serif;">We want to be the leading platform in transport industry to digitalize all most all actions of a user. That improves the quality, efficiency and effectiveness in order to grow in total.
                                </span></p>
                                </div>   
                                </div>
                                </div>
                                </div>
                                </section>
                                                                                
                                                <!-- <section class="client_logo_area white_client">
                                                <div class="">
                                                <div class="client_slider owl-carousel">
                                                <div class="item">
                                                <img src="assets/img/client-logo/client-1.png" alt="">
                                                </div>
                                                <div class="item">
                                                <img src="assets/img/client-logo/client-2.png" alt="">
                                                </div>
                                                <div class="item">
                                                <img src="assets/img/client-logo/client-3.png" alt="">
                                                </div>
                                                <div class="item">
                                                <img src="assets/img/client-logo/client-4.png" alt="">
                                                </div>
                                                <div class="item">
                                                <img src="assets/img/client-logo/client-5.png" alt="">
                                                </div>
                                                </div>
                                                </div>
                                                </section> -->
                                                
                                                
                                                <section class="subscribe_form">
                                                <div class="">
                                                <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h4 class="text-center">Subscribe to our corporate newsletter</h4>
                                                </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <form action="https://startly.web3templates.com/demo/logistics/php/subscribe.php" class="form-inline" method="post" id="subscribeform">
                                                            <div class="col-md-9" style="padding-left: 0px;"> <input type="email" name="email" class="form-control" placeholder="Enter your email..."> </div>
                                                            <div class="col-md-3" style="padding-left: 0px;"> <button class="btn" type="submit" id="js-subscribe-btn"> Subscribe </button> </div>
                                                            <div id="js-subscribe-result" class="text-center" data-success-msg="Almost finished. Please check your email and verify." data-error-msg="Oops. Something went wrong."></div>
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                                </section>         
                </div>
                <div class="col-md-3 right_sidebar bdr-left">
                    <app-right-sidebar></app-right-sidebar>
                </div>
            </div>

       
        
