<!-- <div class="card p-3 relative">
	<div class="main col-lg-10 myHalfCol">
		<form class="container">
				<h3 class="title">Fill the details*</h3>
				<div class="row form-group ">
    				<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
							<input class="input100" type="text" name="companyname">
							<span class="focus-input100" data-placeholder="Company Name"></span>
    				</div>

    				<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
							<input class="input100" type="text" name="businessaddress">
							<span class="focus-input100" data-placeholder="Business Address"></span>
					</div>
				</div>

				<div class="row form-group ">
						<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
								<input class="input100"  name="contactperson">
								<span class="focus-input100" data-placeholder="Contact Person"></span>
							</div>
	
							<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
									<input class="input100" type="number" name="contactno.">
									<span class="focus-input100" data-placeholder="Contact No."></span>
								</div>
				</div>

				<div class="row form-group ">
						<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
								<input class="input100" type="number" name="Office No.">
								<span class="focus-input100" data-placeholder="Office No."></span>
							</div>
	
							<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
									<input class="input100" name="emailid">
									<span class="focus-input100" data-placeholder="Email Id"></span>
								</div>
				</div>

				<div class="row form-group ">
						<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
								<input class="input100" name="website">
								<span class="focus-input100" data-placeholder="Website"></span>
							</div>
	
							<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
									<input class="input100" type="number" name="panno.">
									<span class="focus-input100" data-placeholder="PAN No."></span>
								</div>
				</div>

				<div class="row form-group ">
						<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
								<input class="input100" type="number" name="gstno.">
								<span class="focus-input100" data-placeholder="GST No."></span>
							</div>
	
							<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
									<input class="input100" name="bankdetails">
									<span class="focus-input100" data-placeholder="BankDetails"></span>
								</div>
				</div>

				<div class="row form-group ">
						<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
								<input class="input100" name="branchaddress">
								<span class="focus-input100" data-placeholder="Branch Address"></span>
							</div>
	
						<div class="col-lg-5 field wrap-input100 validate-input m-b-50">
								<input class="input100" type="text" name="browsfile ">
								<span class="focus-input100" data-placeholder="Brows File"></span>
						</div>
				</div>
				<div class=" reg ">
					<button class="login100-form-btn">
							Register
					</button>
				</div>
		</form>
	</div>
</div> -->
