<div class="row" style="padding-top:81px"> 
  <div class="col-md-2 col-sm-2 col-xs-12 bdr-right" style="padding-right: 0px;">
      <app-login-leftbar></app-login-leftbar>
  </div>
    
  <div class="col-md-10 col-sm-10 col-xs-12 bdr-left-right" style="margin-top:-4px">
      <div class="clearfix mtb-30">
          <div class="card">
            <!-- <img src="../../../assets/images/coming-soon.png" style="position:absolute"> -->
              <div class="coming-soon-content">
                <h1 class="coming-text">Coming Soon !!!</h1>
              </div>
          </div>
      </div>      
  </div>
</div>
