<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

<div class="row pt-50">
    <div class="image-loader" *ngIf="imageLoader" style="top:14%">
        <img src="assets/img/loader-orange.gif" style="    width: 150px;">
        <!-- <img src="http://keraiz.com/mylr/loader.gif" /> -->
    </div>
    <!-- <div class="col-md-2 col-sm-2 col-xs-12 bdr-right" style="padding-right: 0px;">
        <app-left-sidebar></app-left-sidebar>
    </div> -->

    <div class="col-md-9 col-xs-12 pd-0" style="overflow: hidden;">
        <section class="slide-section" style="position: relative">

            <div id="main-banner">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <img class="carousel_img" src="assets/img/home-slider/slider-1.jpg" alt="Chania">
                            <div class="carousel-caption">
                                <h2>Easy and secure online LR making solution</h2>
                            </div>
                            <div class="carousel-caption1">
                                <h1>Goods Transport Agency (transporters) and Parcel Booking Agencies</h1>
                            </div>
                        </div>

                        <div class="item">
                            <img class="carousel_img" src="assets/img/home-slider/slider-2.jpg" alt="Chania" wi>
                            <div class="carousel-caption">
                                <h2>Easy and secure online LR making solution</h2>
                            </div>
                            <div class="carousel-caption1">
                                <h1>Goods Transport Agency (transporters) and Parcel Booking Agencies</h1>
                            </div>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3 right_sidebar bdr-left" style="top:15px">
        <app-right-sidebar></app-right-sidebar>
    </div>
</div>
<div class="row">
    <!-- Properties Starts Here -->

    <section class="properties">

        <div class="container">
            <div class="row text-center" style="margin-top: -70px;
                    margin-bottom: 70px;">
                <!-- <button type="button" class="btn btn-default site_btn_pop_up" style="magrin-top:-100px" (click)="openModal()">Create LR of Another Transporter</button> -->
            </div>
            <div class="row">
                <aside class="col-md-5 col-sm-6 col-xs-12">
                    <img src="https://www.pentathemes.com/fedrex/images/features2.png" class="img-responsive" />
                </aside>
                <aside class="col-md-7 col-sm-6 col-xs-12 right-props">

                    <div class="main-title">

                        <h4>Why MyLr 1?</h4>
                        <h3>Most Hassle free business management system in industry.</h3>
                        <div class="seperator"></div>
                    </div>

                    <div class="row">
                        <aside class="col-sm-6 col-xs-12">
                            <ul>
                                <li>Running a business could not be a big task, but managing the same in a better way is big one.
                                </li>
                                <li>MyLr introducing you, a system that enables you to work in effective way that helps you to manage and create records/documents as simple as it could be.</li>

                            </ul>
                        </aside>
                        <aside class="col-sm-6 col-xs-12">
                            <ul>
                                <li>Think this like, you are out of your office and physical books are not accessible, whereas vehicle is being loaded in a factory, how would you ensure that vehicle receives all transporter documents without halting?</li>
                                <li>The Solutions is MyLr.in, experience the great of doing it.</li>
                            </ul>
                        </aside>
                    </div>

                </aside>
            </div>
        </div>
    </section>
    <!-- Properties Ends Here -->

    <!-- Quality Set Starts Here -->

    <section class="quality-set">
        <div class="container">
            <div class="row mb-50">
                <div class="col-xs-12 text-center">
                    <h2>Explore Beyond Your Expectation</h2>
                    <p>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. DONEC PELLENTESQUE EFFICITUR TURPIS, VITAE DICTUM
                        DOLOR TRISTIQUE IN.</p>
                </div>
            </div>
            <div class="row">
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <!-- <span class="fa fa-desktop"></span> -->
                        <img src="assets/images/icon-1.png" class="img-responsive" />
                        <h4>Bilty/Lr</h4>
                        <p>LR making has never been this simple; on few clicks a beautiful comprehensive LR of your transport is ready to impress your business partners. Sharable feature of LR and Challan brings more easiness to your movements.</p>
                    </div>
                </aside>
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <img src="assets/images/icon-2.png" class="img-responsive" />
                        <h4>Invoice Creation</h4>
                        <p>No more handmade or excel made bills/invoices, a professional invoice is ready on selection of LR no only.</p>
                    </div>
                </aside>
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <img src="assets/images/icon-3.png" class="img-responsive" />
                        <h4>Load challan</h4>
                        <p>One of the time consuming activity ends here, just select LR no and you load challan is ready with all accuracies to hand over to driver. </p>
                    </div>
                </aside>
                </div>
                <div class="row">
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <img src="assets/images/invoice.png" class="img-responsive" />
                        <h4>Freight Challan</h4>
                        <p>No more freight entries are required to be done in your daily messy register, have a properly made freight challan; a soft copy of that can be shared all across your lorry suppliers..</p>
                    </div>
                </aside>
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <img src="assets/images/icon-4.png" class="img-responsive" />
                        <h4>Voucher Generation</h4>
                        <p>Now you are not to be worried to remember old entries or fill registers with all payment transactions; make all types of voucher on few clicks.</p>
                    </div>
                </aside>
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <img src="assets/images/icon-6.png" class="img-responsive" />
                        <h4>POD management system</h4>
                        <p>which truck has completed its trip and have you received the POD? Have you paid balance freight and other expenses other than freight? Have you debit those expenses against your consignee? All these questions have an end at POD management of MyLr.in</p>
                    </div>
                </aside>
                </div>
                <div class="row">
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <img src="assets/images/icon-5.png" class="img-responsive" />
                        <h4>Instant Support</h4>
                        <p>We are just a call away, and available to serve you always.</p>
                    </div>
                </aside>
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <img src="assets/images/icon-7.png" class="img-responsive" />
                        <h4>Financials</h4>
                        <p>Auto ledger creation, at a single click access outstanding and payables amount.</p>
                    </div>
                </aside>
                <aside class="col-sm-4 col-xs-12 pb-20">
                    <div class="service-items">
                        <img src="assets/images/icon-8.png" class="img-responsive" />
                        <h4>Universal Search engine</h4>
                        <p>Stop turning directories, a smart online search engine of all Indian transporters is here, easy and accurate search.</p>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <!-- Quality Set Ends Here -->



    <!-- Why Us Starts Here -->
    <style>
    </style>
    <section class="why-us">
        <div class="container">
            <div class="background-part"></div>
            <div class="row">
                <div class="col-md-offset-6 col-md-6">
                    <div class="why-us-content">
                        <div class="why-us-item ptb-20">
                            <div class="media-left">
                                <div class="icon-circle">
                                    <span>
                                        <img src="assets/images/ci-1.png" class="ci-icon" />
                                    </span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>MULTIPLE USER ACCESS FROM ANY PC & TABLET </h5>
                                <p>Work with your team across multiple devices and keep records of your business from anywhere.</p>
                            </div>
                        </div>
                        <div class="why-us-item ptb-20">
                            <div class="media-left">
                                <div class="icon-circle">
                                    <span>
                                        <img src="assets/images/ci-2.png" class="ci-icon" />
                                    </span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>YOUR INFORMATION IS SAFE AND YOUR DATA BASE IS SECURED</h5>
                                <p>All your data and documents are safe on cloud, no matter what problem you have with your
                                    computer.
                                </p>
                            </div>
                        </div>
                        <div class="why-us-item ptb-20">
                            <div class="media-left">
                                <div class="icon-circle">
                                    <span>
                                        <img src="assets/images/ci-3.png" class="ci-icon" />
                                    </span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>SIMPLE AND EASY-TO-USE INTERFACE</h5>
                                <p>The complete system is self-explained and works in such a easy that anyone can work here.</p>
                            </div>
                        </div>
                        <div class="why-us-item ptb-20">
                            <div class="media-left">
                                <div class="icon-circle">
                                    <span>
                                        <img src="assets/images/ci-4.png" class="ci-icon" />
                                    </span>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>KEEP RECORDS OF ALL YOUR TRANSAECTIONS</h5>
                                <p>The beauty MyLr provides you is at a few clicks you can manage all your transactions records.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Us Ends Here -->
    <!--  Testimonial Starts Here-->

    <section class="testimonials ptb-100">
        <div class="container">
            <div class="row text-center">
                <h2>From Our Client</h2>
            </div>
            <div class="row" style="margin-top:40px">
                <div class="col-xs-12">
                    <owl-carousel [options]="{items: 3, dots: false, navigation: false}" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">

                        <div class="item testimonial-block" *ngFor="let image of images;let i = index">
                            <div class="client-block">
                                <i class="fa fa-quote-left client-quote"></i>
                                <p>
                                    <span>Repairshop</span> elit et congue pretium our Morbi laci lectus convallis sagittis in
                                    Donec vitae nulla blandit arcu</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                                    <div class="item">
                                        <div class="thumbnail-image client-img">
                                            <img [src]="image.image" class="img-responsive img-circle" alt="client-img-5">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <div class="client-dtl">
                                        <div class="client-name">{{image.client_name}}</div>
                                        <div class="client-post">{{image.client_post}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </owl-carousel>

                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Ends Here -->



    <!-- First Invoice Starts Here-->

    <section class="first-invoice ptb-100">
        <div class="container">
            <div class="col-md-offset-2 col-md-8 col-xs-12">
                <h2>Want to Know More about MyLR ?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed nibh in leo pellentesque tincidunt.
                    <br> Phasellus faucibus leo ipsum, in mollis diam auctor eget.</p>
                <a class="btn btn-rounded btn-fi" >Contact us Now</a>
            </div>
        </div>
        <!-- End Container -->
    </section>
    <!-- First Invoice Ends Here-->
</div>


<div class="backdrop" [ngStyle]="{'display':display3}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog" [ngStyle]="{'display':display3}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog">
            <div class="modal-header popup1">
                <button type="button" class="close" (click)="onCloseHandled()">
                    <span></span>
                </button>
                <p>{{message}}</p>
            </div>
            <div class="modal-footer popup2">
                <button type="button" class="btn btn-default" (click)="hidePopMsg()">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display5}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog" [ngStyle]="{'display':display5}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog">
            <div class="modal-header popup1">
                <button type="button" class="close" (click)="onCloseHandled()">
                    <span></span>
                </button>
                <p>{{message}}</p>
            </div>
            <div class="modal-footer popup2">
                <button type="button" class="btn btn-default" (click)="hidePopupOtp()">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display4}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog" [ngStyle]="{'display':display4}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog">
            <div class="modal-header popup1">
                <button type="button" class="close  pull-right" aria-label="Close" (click)="onCloseHandledOtp()">
                    <span aria-hidden="true">x</span>
                </button>
                <p class="form_otp">OTP Form</p>
            </div>
            <div class="modal-body">
                <form id="lrform" class="" [formGroup]="verifyOtpForm" (ngSubmit)="onSubmit2()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="uname">
                                <b>Transporter Otp</b>
                            </label>
                            <input class="form-control" formControlName="transporter_otp" type="text" placeholder="Transporter Otp">
                            <div *ngIf="verifyOtpForm.controls['transporter_otp'].errors && ( !verifyOtpForm.controls['transporter_otp'].pristine || submitted || verifyOtpForm.controls['transporter_otp'].touched )"
                                class="error_msg">
                                <div [hidden]="(!verifyOtpForm.controls['transporter_otp'].errors.pattern && !verifyOtpForm.controls['transporter_otp'].errors.required)">User Name Is Required</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="uname">
                                <b>User Otp</b>
                            </label>
                            <input id="password" formControlName="user_otp" class="form-control" type="text" placeholder="User Otp">
                            <div *ngIf="verifyOtpForm.controls['user_otp'].errors && ( !verifyOtpForm.controls['user_otp'].pristine || submitted || verifyOtpForm.controls['user_otp'].touched )"
                                class="error_msg">
                                <div [hidden]="(!verifyOtpForm.controls['user_otp'].errors.pattern && !verifyOtpForm.controls['user_otp'].errors.required)">User Name Is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer popup2">
                <button type="button" class="btn btn-default" (click)="hidePopupOtp()" >Ok</button>
            </div>  -->
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display2}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog" [ngStyle]="{'display':display2}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog popupwidth">
            <div class="modal-header popup1">
                <button type="button" class="close pull-right" aria-label="Close" (click)="onCloseHandled()">
                    <span aria-hidden="true">×</span>
                </button>
                <!-- <button type="button" class="close"  (click)="onCloseHandled()"></button> -->
                <p class="form_name">Create LR Of Another Transporter </p>
            </div>
            <div class="modal-body">
                <form id="lrform" class="" [formGroup]="lrForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="uname">
                                <b>Transporter Contact No.</b>
                            </label>
                            <input class="form-control" formControlName="transporter_contact_number" minlength="10" onkeypress="if(this.value.length==10) return false;return event.charCode >= 48 && event.charCode <= 57 ||event.charCode == '.' || event.charCode == 250 "
                                type="text" placeholder="Transporter Contact No" required>
                            <div *ngIf="lrForm.controls['transporter_contact_number'].errors && ( !lrForm.controls['transporter_contact_number'].pristine || submitted || lrForm.controls['transporter_contact_number'].touched )"
                                class="error-msg">
                                <div [hidden]="!lrForm.controls['transporter_contact_number'].errors.required">Transporter Contact No. Is Required.</div>
                                <div [hidden]="!lrForm.controls.transporter_contact_number.hasError('minlength')">Transporter Contact No. Must Be 10 Digits</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="uname">
                                <b>User Name</b>
                            </label>
                            <input id="password" formControlName="user_name" class="form-control" type="text" placeholder="User Name">
                            <div *ngIf="lrForm.controls['user_name'].errors && ( !lrForm.controls['user_name'].pristine || submitted || lrForm.controls['user_name'].touched )"
                                class="error_msg">
                                <div [hidden]="(!lrForm.controls['user_name'].errors.pattern && !lrForm.controls['user_name'].errors.required)">User Name Is Required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uname">
                                <b>User Contact Number</b>
                            </label>
                            <input class="form-control" formControlName="user_contact_number" minlength="10" onkeypress="if(this.value.length==10) return false;return event.charCode >= 48 && event.charCode <= 57 ||event.charCode == '.' || event.charCode == 250 "
                                type="text" placeholder="User Contact Number" required>
                            <div *ngIf="lrForm.controls['user_contact_number'].errors && ( !lrForm.controls['user_contact_number'].pristine || submitted || lrForm.controls['user_contact_number'].touched )"
                                class="error-msg">
                                <div [hidden]="!lrForm.controls['user_contact_number'].errors.required">User Contact Number Is Required.</div>
                                <div [hidden]="!lrForm.controls.user_contact_number.hasError('minlength')">User Contact Number Must Be 10 Digits</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uname">
                                <b>Company Name</b>
                            </label>
                            <textarea formControlName="user_purpose" class="form-control" type="text" placeholder="User Purpose"></textarea>
                            <div *ngIf="lrForm.controls['user_purpose'].errors && ( !lrForm.controls['user_purpose'].pristine || submitted || lrForm.controls['user_purpose'].touched )"
                                class="error-msg">
                                <div [hidden]="(!lrForm.controls['user_purpose'].errors.pattern && !lrForm.controls['user_purpose'].errors.required)">User Purpose Is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer popup2"> -->
            <!-- <button type="button" class="btn btn-default" (click)="hidePopup()" >Ok</button> -->
            <!-- </div>  -->
        </div>
    </div>
</div>