<div class="clearfix mtb-40">
  <div class="col-sm-12 col-xs-12">
    <div class="card p-3 relative">
      <div class="card-header">
        <h4 class="card-title">Pending Approvals</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
        <p class="card-text"></p>
        <div class="table-responsive">
          <table class="table">
            <thead class="bg-success white">
              <tr>
                  <th>3D Logistic Solutions</th>
                  <th>Loadmee.Com</th>
                  <th>Bharat RoadLines</th>
                  <th>ITC Ltd</th>
                  <th>Shreeceremic Fybers Itd</th>
                  <th>Jyotic Weighing System</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>form</td>
                <td>company@gmail.com</td>
                <td>firm</td>
                <td>form</td>
                <td>form</td>
                <td>form</td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- View Breeds End -->