<div class="image-loader" *ngIf="imageLoader">
  <img src="assets/images/loader.gif" />
</div>

<div class="row pt-67"> 
    <div class="col-md-2 col-sm-2 col-xs-12 bdr-right" style="padding-right: 0px;">
        <app-login-leftbar></app-login-leftbar>
    </div>
      
    <div class="col-md-10 col-sm-10 col-xs-12">
        <div class="clearfix">
            <div class="card">
                <div class="clearfix card-strip">
                    <aside class="col-sm-12">
                      <h4 class="table_title mt-5">Dashboard</h4>
                    </aside>
                  </div>
                <div class="clearfix mt-30 m-tb-20">
                  <div class="col-sm-4">
                    <div class="panel panel-success">
                      <div class="panel-heading">
                        <h4 class="">Benifits of My LR Accounts</h4>
                      </div>
                      <div class="panel-body">
                        <ul class="benifit-list">
                          <li>
                            <del>
                              <span>1.</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </del>
                          </li>
                          <li> <span>2.</span> Lorem text of the printing and typesetting industry.</li>
                          <li> <span>3.</span> Lorem Ipsum is simply dummy the printing and typesetting industry.</li>
                          <li>
                            <del>
                                <span>4.</span> Lorem Ipsum is simply dummy text of the industry.
                            </del>
                          </li>
                          <li> <span>5.</span> Lorem Ipsum is and typesetting industry.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                      <h4 class="chart-lead">LR per Month</h4>
                      <div style="display: block">
                        <canvas baseChart
                                [datasets]="temp_array2"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                      </div>
                    </div>
                    </div>
                    <div class="clearfix middle-stripe mtb-50">
                      <div class="col-sm-3">
                          <h4>No. of LR Generated</h4>
                          <h5>{{ output.counts.lr_count }}</h5>
                      </div>
                      <div class="col-sm-3">
                          <h4>No. of LC Generated</h4>
                          <h5>{{ output.counts.lc_count }}</h5>
                      </div>
                      <div class="col-sm-3">
                          <h4>No. of FC Generated</h4>
                          <h5>{{ output.counts.fc_count }}</h5>
                      </div>
                      <div class="col-sm-3">
                          <h4>No. of Invoice</h4>
                          <h5>{{ output.counts.invoice_count }}</h5>
                      </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-4">
                      <div class="well">
                        <h4>Request for Demo</h4>
                        <form class="mt-20">
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Contact No.</label>
                                <input type="text" class="form-control" placeholder="Contact No.">
                              </div>
                            <div class="form-group">
                              <label>Email</label>
                              <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                          </form>
                      </div>
                      </div>
                      <div class="col-sm-8">
                        <div class="well">
                          <h4>How to make your first invoice</h4>
                          <iframe class="mt-20" width="100%" height="315" src="https://www.youtube.com/embed/FihpBVlPdRU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
              
            </div>
          </div>
                   
    </div>
</div>
